body {
    height: 60vh;
  margin: 0;
  padding: 0;
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 1920px 1200px;
   font-family: sans-serif;
}


header {
    display: inline;
    margin: 5%;
    padding: 2%;



  }
nav{
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    min-height: 8vh;
    align-items: center;    
}
.logo{
    color: rgb(230, 230, 230);
    font-size: 30px;
}

.nav-link{
    display: flex;
width: 30%;
justify-content: space-around;


}

.nav-link a{

    text-decoration: none;
    color: white;
}


.evgo-heading {
  display: inline;
}

li {
  display: inline;
  list-style-type: none;
}

.main-event {
  margin: auto;
  width: 60%;
  height: 80%;
  display: flex;
  align-items: center;

  border-radius: 10px;
  padding: 10px;
  background-color: white;
  opacity: 0.6;
}
.about {
  margin: auto;
}

.button_set {

    margin: auto;
    width: 60%;
    padding: 10px;
    display: flex;
    align-items: center;
    
}

button{
    display: inline-block;
	padding: 10px 14px;
	color: #FFF;
	border: 1px solid #000000;
	text-decoration: none;
	font-size: 14px;
	background-color: transparent;
	border-radius: 4px;
	cursor: pointer;
    margin: auto;
    

}
button:hover{
background-color: #FFF;
color: blue;

}

.discover{

    background-color: #000000;
    opacity: 0.5;
}